body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.classroom {
    display: flex;
    flex-direction: column;
    height: 55vh;
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}

.instructor-zone :first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.instructor-zone :last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.instructor-zone>* {
    text-transform: capitalize;
    line-height: 40px;
}

.instructor-zone {
    background-color: blue;
    display: flex;
    height: 40px;
    border-radius: 200px;
}

.podium {
    background-color: #000289;
    flex-basis: 200px;
    color: white;
}

.entrance {
    background-color: rgb(117, 0, 0);
    color: white;
    flex-basis: 200px;
}

.monitor {
    flex: 1;
    background-color: black;
    color: white;
}

.desks-zone {
    display: grid;
    padding: 10px;
}

.f2-classroom .desks-zone {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.galitz-classroom .desks-zone {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.desk {
    padding: 5px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid #8e8e8e;
}

.desk.empty {
    background-color: #fff;
}

.name-container, .seat {
    border-radius: 200px;
    border: 1px solid black;
    padding: 5px;
    text-transform: capitalize;
    flex: 1 1 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat:not(:last-child) {
    margin-right: 5px;
}

.user-input {
    background-color: #fff;
    color: black;
    font-size: 2rem;
    padding: 20px;
}

.user-input button, .user-input input {
    border-radius: 200px;
    font-size: 1.2rem;
    padding: 12px;
}

.user-input input {
    width: 300px;
}

.loading-modal {
    opacity: 0;
    display: none;
    transition: opacity .2s, background-color .2s;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.loading-modal :first-child {
    transform: scale(1.1);
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.shown {
    /* display: flex; */
    opacity: 1;
}

.d-flex {
    display: flex;
}